.App {
  text-align: center;
}

/* 全体レイアウト */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* ビューポート全体の高さを使用 */
  overflow: hidden;
}

/* ヘッダー */
.header {
  flex-shrink: 0;
  height: 60px; /* 固定高さ */
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* サイドバーとメインコンテンツを配置 */
.content-container {
  display: flex;
  flex: 1; /* 残りの高さを全て使う */
  overflow: hidden; /* 横方向のオーバーフローを防止 */
}

/* サイドバー */
.sidebar {
  width: 200px; /* 固定幅 */
  background-color: #f4f4f4;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* メインコンテンツエリア */
.MainContent {
  flex: 1; /* 残りのスペースを全て使用 */
  background-color: #ffffff; /* 背景色を設定 */
  overflow-y: auto; /* 縦方向のスクロールを有効に */
  padding: 20px; /* 内側の余白を設定 */
  margin-left: 50px; /* 左に200pxの余白を設定 */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
